<div>
    <header class="carousel-header" role="carousel">
        <div id="carouselHeader" class="carousel slide carousel-fade carouselHeader" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselHeader" data-slide-to="0" class="active"></li>
                <li data-target="#carouselHeader" data-slide-to="1"></li>
                <li data-target="#carouselHeader" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner carouselContent">
                <div class="carousel-item active carouselItem">
                    <div class="d-block img-fluid" alt="First slide"
                        data-sly-resource="${ '.' @ resourceType = 'core/wcm/components/image/v2/image' }">
                    </div>
                    <div class="carousel-caption caption d-none d-md-block">
                        <h1 class="title title-h1">Neque porro quisquam est qui </h1>
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                </div>
                <div class="carousel-item carouselItem">
                    <img class="d-block img-fluid" src="./assets/images/unplash-image.jpg" alt="Second slide">
                    <div class="carousel-caption caption d-none d-md-block">
                        <h1 class="title title-h1">Title Second slide</h1>
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                </div>
                <div class="carousel-item carouselItem">
                    <img class="d-block img-fluid" src="./assets/images/sebastian-seck.jpg" alt="Third slide">
                    <div class="carousel-caption caption d-none d-md-block">
                        <h1 class="title title-h1">Title Third slide</h1>
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselHeader" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHeader" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
</div>a