<!-- SECTION FULL -->
<section class="section-full-center container-fluid -green">

    <!--HEADER SECTION MOLECULE -->

    <h1 class="title title-h1">Suspendisse tincidunt elementum mi, nec tempus</h1>
    <p class="paragraph">Vivamus eu tincidunt odio, pretium tincidunt augue. Fusce in tellus sed urna tincidunt finibus ac sed leo. Sed eu tortor
        vel arcu pretium convallis vitae vel ligula. Donec tincidunt finibus magna.</p>

    <!--HEADER SECTION MOLECULE -->

    <!-- CAROUSEL CARDS -->

    <div class="container-fuild carouselCards text-center my-3">
        <div class="row mx-auto my-auto">
            <div id="carouselCards" class="col-12 carousel slide w-100" data-js="carousel-cards">
                <div class="carousel-inner carouselContent w-100" role="listbox">
                    <div class="carousel-item active" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/city.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 1</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/bike.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 2</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/mackbook.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 3</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/city.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 4</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/mackbook.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 5</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-js="carousel-item">
                        <div class="card cardItem">
                            <img class="card-img-top cardImage" src="assets/images/bike.jpg" alt="Card image cap">
                            <div class="card-body cardContent">
                                <h4 class="card-title titleCard">Card title 6</h4>
                                <p class="card-text textCard">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="buttons button-primary -small" role="button">Button</a>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselCards" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselCards" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- /CAROUSEL CARDS -->

</section>
<!-- /SECTION FULL -->