<!--TEXT IMAGE COMPONENT-->
<section class="section-text container-fluid">
    <!-- TEXT IMAGE LEFT MOLECULE -->
    <div class="row lineItem">
        <div class="col-5 imageItem">
            <img src="./assets/images/sky-image.jpg" class="img-fluid image-content" alt="Image Component">
        </div>
        <div class="col-7 content-middle textItem">
            <h2 class="title title-h2">Suspendisse tincidunt elementum mi, nec tempus</h2>
            <p class="paragraph">Vivamus eu tincidunt odio, pretium tincidunt augue. Fusce in tellus sed urna tincidunt finibus ac sed leo. Sed eu tortor
                vel arcu pretium convallis vitae vel ligula. Donec tincidunt finibus magna.</p>
        </div>
    </div>
    <!-- /TEXT IMAGE LEFT MOLECULE -->
</section>
<!--/TEXT-IMAGE COMPONENT -->