<header class="header-bar" data-sly-use.header="com.project.osf.core.models.Header">
    <a href="${properties.logoLink}" class="header-logo" role="logo">${properties.logoTitle}</a>

    <!-- NAVBAR COMPONENT-->
    <ul class="nav navigation" role="navigation">
        <li class="nav-item item">
            <a class="nav-link link active" href="#">${header.titles}</a>
        </li>
        <li class="nav-item item">
            <a class="nav-link link" href="#">Button 2</a>
        </li>
        <li class="nav-item item">
            <a class="nav-link link" href="#">Button 3</a>
        </li>
        <li class="nav-item item">
            <a class="nav-link link disabled" href="#">Button 4</a>
        </li>
    </ul>
    <!-- /NAVBAR COMPONENT-->
</header>
